<launch>
  
  <node pkg="robot_driver" type="robot_driver_node" name="robot_driver_node" clear_params="true" output="screen">
    <param name="port" value="/dev/ttyUSB0" type="str" />
    <param name="baud_rate" value="115200" type="int" />
    <param name="frame_id" value="base_link" type="str" />
    <param name="wheel_radius" value="3.25" type="double"/>
  </node>

  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" clear_params="true" output="screen">
  <remap from="/twist" to="/cmd_vel"/>
  <param name="base_width" value="0.2921" type="double" />  <!--The distance between the robot's wheels in meters.-->
    <param name="rate" value="50" type="int" />  <!--The rate velocity targets will be published (in Hertz).-->
    <param name="timeout_ticks" value="2" type="int" />  <!--The number of velocity target messages that will be published after the last twist message is recieved.--> 
  </node>

</launch>
